﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<title>Welcome | School of Computer Science &amp; Information Systems | Northwest</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta content="IE=EDGE" http-equiv="X-UA-Compatible" />
<meta content="en-us" http-equiv="Content-Language" />
<meta content="Northwest Missouri State University" name="author" />
<meta content="Northwest Missouri State University, Northwest Bearcats, Maryville, Missouri, computing, computer science, idm, interactive, digital, media, mis, information systems, cs, masters, applied computer science, ms-acs, information systems, ms-is java, programming, database" name="keywords" />
<meta content="The official website of Northwest Missouri State University located in Maryville, Missouri." name="description" />
<link href="https://www.nwmissouri.edu/layout/css/3column2.css" rel="stylesheet" type="text/css" />
<link href="https://www.nwmissouri.edu/layout/css/print.css" media="print" rel="stylesheet" type="text/css" />
<link rel="StyleSheet" href="Websitelayout.css"  />
<script src="https://www.google.com/jsapi?key=ABQIAAAAEdFkhmj0DJQJiGTYI8ZKhhRmgVIye39lZuXEZc-rrQ-Zz_NtWBRLh0xvu4SPUP2tYSBipAMsOIaWZw" type="text/javascript" ></script>
<script src="https://www.nwmissouri.edu/layout/scripts/jquery.js" type="text/javascript" ></script>
<script src="https://www.nwmissouri.edu/layout/scripts/jquery.cycle.all.js" type="text/javascript" ></script>
<script src="https://www.nwmissouri.edu/layout/scripts/hoverIntent.js" type="text/javascript" ></script>
<script src="https://www.nwmissouri.edu/layout/scripts/general2.js" type="text/javascript" ></script>
<script src="https://www.nwmissouri.edu/layout/scripts/slidestabs.js" type="text/javascript" ></script>
<script src="https://www.nwmissouri.edu/layout/scripts/yui-min.js" ></script> 



<body>
    <!-- iFocus Tag Manager (noscript) -->
    <noscript><iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-K45Z9B6" style="display:none;visibility:hidden" width="0" ></iframe></noscript>
    <!-- End iFocus Tag Manager (noscript) -->
        <div id="hwrapper">
            <p id="nostandards">This website is best viewed in a browser that supports <a href="http://www.webstandards.org/upgrade">web standards</a>.</p>
            <p id="skiptocontent"><a href="#contentum">Skip to content</a> or, if you would rather, <a href="#wrapper">Skip to navigation</a>.</p>
            <div id="siteBar">
                <div id="siteNav"><p style="visibility: hidden; width: 0; height: 0;"><img alt="Northwest logo" height="0" src="https://www.nwmissouri.edu/layout/images/northwestlogo.jpg" width="0" /></p>         
                </div>
                    
    
    
                
                <div id="search"><form action="https://www.nwmissouri.edu/search.htm" id="google_search"><input name="cx" type="hidden" value="010425117085374320375:orfqon6c2l8" />
                    <div class="searchbg"><input alt="Enter search term(s)" class="searchText" id="q" name="q" onfocus="if(this.value=='Site Search')this.value='';" size="15" type="text" value="Site Search" /></div>
                    <input alt="Start search" class="searchButton" name="sa" src="https://www.nwmissouri.edu/layout/images/search-white.png" type="image" value="Search" /> <input name="cof" type="hidden" value="FORID:11" /></form></div>
                            </div>
                            <div id="branding">
                                <h1 id="hlogo"><a href="https://www.nwmissouri.edu" title="Return to Northwest Missouri State University"><span>Northwest Missouri State University</span></a></h1> 
                                <div id="banner"><a href="index.htm"><img alt="School of Computer Science and Information Systems" border="0" height="85" id="banner-img" src="csis.png" width="625" /></a></div>
                            </div>
                            <br class="clear" />
                        </div>
                    
                      <div id="wrapper">
                            <div id="pagenav"><div id="navtop" ></div><ul class="pagenavlinks">
                    <li class="heading">Select the Division </li>
                    
                   
                    <a href="undergraduate.html" class="button">Undergraduate Projects </a>
                    <a href="graduate.html" class="button">Graduate Projects</a>
    
    
    
                    <li class="heading">Related Links</li>
                    
                            </div>           
        </div>


   

<div class ="project Name">
    <h2>CSIS </h2>

<table>
  <tr>
    <th>Course Number</th>
    <th>Course Name</th>
  
  </tr>
  <tr>
 
    <td>44101</td>
    <td>FOUNDATIONS OF COMPUTING</td>
  </tr>
  <tr>
 
    <td>44130</td>
    <td>COMPUTERS AND INFORMATION TECH</td>
  </tr>
  <tr>
 
    <td>44141</td>
    <td>COMPUTER PROGRAMMING I</td>
  </tr>
  <tr>

    <td>44144</td>
    <td>WEB DEVELOPMENT I</td>
  </tr>
  <tr>
    
    <td>44241</td>
    <td>COMPUTER PROGRAMMING II</td>
  </tr>
  <tr>

    <td>44242</td>
    <td>DATA STRUCTURES</td>
  </tr>
  <tr>
    
    <td>44340</td>
    <td>DIGITAL MEDIA</td>
  </tr>
  <tr>
    
    <td>44345</td>
    <td>COMPUTER ORGANIZATION</td>
  </tr>
  <tr>
    
    <td>44349</td>
    <td>SURVEY OF ALGORITHMS</td>
  </tr>
  <tr>
    
    <td>44351</td>
    <td>FOUNDATIONS OF GAME DEV</td>
  </tr>
  <tr>
    
    <td>44418</td>
    <td>IT PROJECT MANAGEMENT</td>
  </tr>
  <tr>
</table>
</div>





















    <div id="siteFooter"><p>Computer and Information Science | Colden Hall | 660.562.1250</p></div>
		<br class="clear" />
	
	
	<div id="fwrapper">
		<div class="dropshadow" ></div>
		<div id="footer-cols"><div id="col-left"><h3>
            <a href="https://www.nwmissouri.edu/contact.htm">
                Contact Us</a></h3><p><b>Northwest Missouri State University</b><br />
						800 University Drive | Maryville, MO 64468<br />
						660.562.1212 | www.nwmissouri.edu</p><p>&#160;</p><p>
                            © 2013 Northwest Missouri State University. All rights reserved.</p>
                        </div><div id="col-center"><h3>Related Links</h3><ul><li>
                            <a href="https://www.nwmissouri.edu/aboutus/index.htm">
                                About Northwest</a></li><li>
                                    <a href="https://www.nwmissouri.edu/hr/index.htm">
                                        Employment</a></li><li>
                                            <a href="https://www.nwmissouri.edu/maps/index.htm">Campus Map</a></li><li><a href="https://www.nwmissouri.edu/facts/consumerinfo.htm">Consumer Information</a></li><li><a href="https://www.nwmissouri.edu/alert/index.htm">Emergency Information</a></li><li><a href="https://www.nwmissouri.edu/aboutus/comment.htm">Comment Card</a></li></ul></div><div id="col-right"><h3>Share This Page</h3><ul class="share"><li class="share-facebook"><a href="https://www.facebook.com/share.php?u=https://www.nwmissouri.edu/careerserv/index.htm" rel="nofollow" title="Share this page on Facebook">Share this page on Facebook</a></li><li class="share-twitter"><a href="https://twitter.com/share?text=From+the+%23Northwest+website&amp;via=NWMOState&amp;url=https://www.nwmissouri.edu/careerserv/index.htm" rel="nofollow" title="Share this page on Twitter">Share this page on Twitter</a></li><li class="share-email"><a href="mailto:?body=From%20the%20Northwest%20website%3A%0Ahttps://www.nwmissouri.edu/careerserv/index.htm&amp;subject=Northwest Missouri State University" rel="nofollow" title="Share this page by email">Share this page by email</a></li></ul></div><br class="clear" /></div>
        </div>
    </body>
    </html>
