.button{
    background-color: rgb(10, 143, 81);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 7px 2px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;


}



.button:hover {
    background-color: rgb(79, 206, 85);
    color: white;
}

#slides img {
    position: relative;
    z-index: 1;
    border: none;
}


/*.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }*/
 
 

  .register-form {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 18em;
    border: 0;
    margin: 20px 10px ;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
  }
  

  .register-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  #login_div{
      display:none;
  }
#user_div {
    display: none;
}
  .register-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .register-form button:hover,.form button:active,.form button:focus {
    background: #43A047;
  }
  .register-form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .register-form .message a {
    color: #4CAF50;
    text-decoration: none;
  }


  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #acabab;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #c4c2c2;
}


